@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto:wght@300&family=Ubuntu:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quantico&display=swap");
/*.llamada-text {
  @include text('Roboto', italic, bold, 50px, center, black);
}*/
/*.llamada-flex {
  @include d-flex(space-between, center, row, nowrap);
}*/
/*.llamada-box {
  @include box(red, $btnBorderColor, none);
}*/
/*.llamada-boxExtra {
  @include boxExtra(red, solid, blue, 2px, none);
}*/
/*.llamada-size{
   @include size(50px, 50px);
}*/
/*.llamada-anima {
  @include anima(changeImg, 20s, infinite, 0, alternate, ease-out);
}*/
/*.llamada-break {
  @include media(mobile) {
    background-color: violet;
  }
  @include media(tablet) {
    background-color: deeppink;
    width: 50%;
  }
  @include media(ajust) {
    font-size: 15px;
  }
}*/
/*.mapa-prueba-verde {
  border: map-get($greenscale, "100");
}*/
.buttonsEffect {
  width: 70px;
  height: 45px;
  padding: 0 2px;
  margin-left: 20px;
  background-color: #043e39;
  border: solid #8f8f8f 1px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: none;
  color: #8f8f8f;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer; }
  .buttonsEffect:hover {
    background-color: #29777d;
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer; }

.titleNeon, .titleNews, .pageTitle, .titleQuality {
  font-family: "Fredoka One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  text-align: center;
  color: #043e39;
  text-shadow: 0 0 0.4em #5cfe47; }
  @media (max-width: 768px) {
    .titleNeon, .titleNews, .pageTitle, .titleQuality {
      font-size: 60px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .titleNeon, .titleNews, .pageTitle, .titleQuality {
      font-size: 50px; } }

.titleNews {
  margin-top: 5px; }

.pageTitle {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 50px;
  text-decoration: underline;
  font-style: italic; }
  @media (max-width: 768px) {
    .pageTitle {
      font-size: 40px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .pageTitle {
      font-size: 30px; } }

.titleQuality {
  text-shadow: 0 0 0.6em #d1fdff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url("https://c.wallhere.com/photos/e8/0e/1920x1080_px_Simple_Background-1222772.jpg!d");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; }

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap; }

.containerLogo {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .containerLogo {
      flex-direction: column;
      justify-content: space-evenly; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .containerLogo {
      align-items: center; } }

.headerLogo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 25px 0; }
  @media (min-width: 320px) and (max-width: 480px) {
    .headerLogo {
      width: 250px;
      height: 250px;
      margin: 30px 0; } }
  .headerLogo:hover {
    transform: rotatez(360deg);
    cursor: pointer;
    transition: transform 2s; }

/* inicio buscador */
.searchBox {
  width: 375px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #29777d;
  border: solid #043e39 5px;
  border-radius: 10px;
  align-self: flex-end;
  padding: 0 12px;
  margin-bottom: 50px; }
  @media (max-width: 768px) {
    .searchBox {
      align-self: center;
      margin: 0 0 10px 0; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .searchBox {
      width: 320px; } }

.inputSearch {
  width: 260px;
  height: 40px;
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: large;
  text-align: left;
  color: black;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.713); }
  @media (min-width: 320px) and (max-width: 480px) {
    .inputSearch {
      width: 70%; } }

/* fin buscador */
/* inico menu */
.containerMenu {
  width: 100%;
  padding: 5px 0px;
  background-color: #29777d;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  list-style: none;
  text-align: center; }
  @media (max-width: 768px) {
    .containerMenu ul {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .containerMenu ul li {
    margin: 0px 70px;
    background-color: #29777d;
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: white; }
    @media (min-width: 769px) and (max-width: 1300px) {
      .containerMenu ul li {
        margin: 0 10px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .containerMenu ul li {
        margin: 0;
        font-size: 25px; } }
    .containerMenu ul li a {
      text-decoration: none; }
    .containerMenu ul li:hover {
      text-decoration: underline;
      border-radius: 10px;
      transform: scale(1.2);
      cursor: pointer;
      transition: transform 1s; }

/* fin menu */
/*inicio slider*/
.slider {
  width: 100%;
  overflow: hidden; }
  .slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation-name: changeImg;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-direction: alternate;
    animation-timing-function: ease-out; }
  .slider li {
    width: 100%;
    list-style: none; }
  .slider img {
    width: 100%;
    height: 500px; }
    @media (max-width: 768px) {
      .slider img {
        height: 300px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .slider img {
        height: 230px; } }

/*fin de slider*/
/* inicio pie de pagina */
.footArea {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  padding-top: 15px;
  border-top: solid white 2px;
  background-color: rgba(4, 62, 57, 0.531); }
  @media (max-width: 768px) {
    .footArea {
      height: auto; } }

.footData {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .footData {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap; } }
  .footData div h4 {
    width: 100%;
    margin-bottom: 5px;
    font-family: "Quantico", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #5e5e5e; }
  .footData div div {
    display: flex;
    justify-content: space-around; }
  .footData .infoFooter {
    width: 250px;
    height: auto;
    padding: 0 2px; }
    .footData .infoFooter li {
      font-family: "Quantico", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-align: left;
      color: #dbdbdb; }
  .footData .contactFooter {
    width: 250px;
    height: auto;
    padding: 0 2px; }
    @media (max-width: 768px) {
      .footData .contactFooter {
        margin: 10px 0; } }
    .footData .contactFooter li {
      font-family: "Quantico", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-align: left;
      color: #dbdbdb; }
  .footData .redesFooter {
    width: 250px;
    height: auto;
    padding: 0 2px; }

.footCopyright {
  margin-top: 20px;
  padding-top: 10px;
  background-color: rgba(4, 62, 57, 0.679); }
  .footCopyright p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #dbdbdb; }

/* fin pie de pagina */
/*----------------- ANIMACIONES----------------- */
@keyframes textUs {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes colorLoop {
  0% {
    border: solid springgreen 5px; }
  10% {
    border: solid mediumspringgreen 5px; }
  20% {
    border: solid lightgreen 5px; }
  30% {
    border: solid palegreen 5px; }
  40% {
    border: solid darkseagreen 5px; }
  50% {
    border: solid limegreen 5px; }
  60% {
    border: solid forestgreen 5px; }
  70% {
    border: solid lightseagreen 5px; }
  80% {
    border: solid mediumseagreen 5px; }
  90% {
    border: solid seagreen 5px; }
  100% {
    border: solid darkgreen 5px; } }

@keyframes changeImg {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

/*----------------- INDEX----------------- */
/*inicio seccion calidad*/
.sectionQuality {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  background-color: rgba(4, 68, 68, 0.617);
  border: none;
  border-radius: 5px;
  padding: 10px 20px; }
  .sectionQuality h1 {
    font-size: xx-large;
    text-decoration: underline; }
    @media (max-width: 768px) {
      .sectionQuality h1 {
        font-size: 30px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .sectionQuality h1 {
        font-size: 20px; } }
  .sectionQuality .features {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
    margin: 10px 0;
    gap: 10px; }
    @media (min-width: 320px) and (max-width: 480px) {
      .sectionQuality .features {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        padding: 5px 2px;
        margin: 5px 0;
        gap: 0; } }
    .sectionQuality .features figure {
      width: 50%;
      height: auto;
      padding: 5px 10px;
      text-align: center; }
      @media (min-width: 320px) and (max-width: 480px) {
        .sectionQuality .features figure {
          padding: 5px 2px; } }
    .sectionQuality .features figcaption {
      font-family: "Fredoka One", cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      color: white;
      text-shadow: 2px 2px 2px #5e5e5e; }
      @media (min-width: 769px) and (max-width: 1300px) {
        .sectionQuality .features figcaption {
          font-size: 25px; } }
      @media (max-width: 768px) {
        .sectionQuality .features figcaption {
          font-size: 25px; } }
      @media (min-width: 320px) and (max-width: 480px) {
        .sectionQuality .features figcaption {
          font-size: 20px; } }
    .sectionQuality .features p {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      text-align: center;
      color: white; }
      @media (min-width: 769px) and (max-width: 1300px) {
        .sectionQuality .features p {
          font-size: 20px; } }
      @media (max-width: 768px) {
        .sectionQuality .features p {
          font-size: 20px; } }
      @media (min-width: 320px) and (max-width: 480px) {
        .sectionQuality .features p {
          font-size: 15px; } }

/*fin seccion calidad*/
/* inicio lado mapa */
.sectionMap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: auto; }
  @media (max-width: 768px) {
    .sectionMap {
      margin: 30px 0; } }
  .sectionMap div {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    border: solid #105459 2px;
    border-radius: 3px;
    overflow: hidden; }
    @media (max-width: 768px) {
      .sectionMap div {
        width: 480px;
        height: 480px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .sectionMap div {
        width: 320px;
        height: 320px; } }
  .sectionMap h2 {
    margin-bottom: 20px;
    font-size: xx-large;
    text-decoration: underline; }
    @media (max-width: 768px) {
      .sectionMap h2 {
        font-size: 30px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .sectionMap h2 {
        font-size: 20px; } }

/* fin lado mapa */
/* inicio seccion videos */
.sectionVideo {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  background-color: rgba(184, 248, 248, 0.323);
  border: none;
  border-radius: 5px;
  padding: 10px 20px; }
  .sectionVideo p {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: black; }
    @media (max-width: 768px) {
      .sectionVideo p {
        font-size: 25px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .sectionVideo p {
        font-size: 15px; } }

.carouselItem {
  background-color: #00383c;
  border: none;
  border-radius: 0; }

.videoExample {
  margin-left: 10%;
  width: 30%;
  height: 500px;
  background-color: rgba(184, 248, 248, 0.323);
  border: solid #043e39 5px;
  border-radius: 3px;
  transition: transform 0.5s; }
  @media (min-width: 769px) and (max-width: 1300px) {
    .videoExample {
      width: 35%;
      margin-left: 5%; } }
  @media (max-width: 768px) {
    .videoExample {
      width: 70%;
      margin-left: 15%; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .videoExample {
      width: 100%;
      margin: 0; } }

.carouselText {
  width: 30%;
  left: 60%;
  bottom: 20%; }
  @media (max-width: 768px) {
    .carouselText {
      width: 60%;
      left: 20%;
      bottom: 0; } }
  .carouselText h5 {
    font-family: "Fredoka One", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: xx-large;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #5e5e5e; }
    @media (min-width: 769px) and (max-width: 1300px) {
      .carouselText h5 {
        font-size: x-large; } }
    @media (max-width: 768px) {
      .carouselText h5 {
        font-size: large; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .carouselText h5 {
        font-size: small; } }
  .carouselText p {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: xx-large;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #5e5e5e; }
    @media (min-width: 769px) and (max-width: 1300px) {
      .carouselText p {
        font-size: large; } }
    @media (max-width: 768px) {
      .carouselText p {
        font-size: small; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .carouselText p {
        font-size: x-small; } }

/* fin seccion videos */
/* inicio nuevos ingresos */
.containerNews {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto; }

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px 0; }
  @media (max-width: 768px) {
    .gallery {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 20px;
      padding: 20px 0; } }
  @media (max-width: 768px) {
    .gallery p {
      margin: 0;
      font-size: 20px;
      text-align: center; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .gallery p {
      font-size: 15px; } }

.cardNews {
  width: 22rem;
  background-color: #29777d;
  border: solid #105459 2px;
  border-radius: 0;
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  text-align: justify;
  color: black; }
  @media (max-width: 768px) {
    .cardNews {
      width: 34rem; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .cardNews {
      width: 25rem; } }
  .cardNews a {
    background-color: #105459;
    color: white; }

/* fin nuevos ingresos */
.contenedor {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "quality map" "videos videos" "news news"; }
  @media (max-width: 768px) {
    .contenedor {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "quality" "map" "videos" "news"; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .contenedor {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "quality" "map" "videos" "news"; } }

#videos {
  grid-area: videos; }

#map {
  grid-area: map; }

#news {
  grid-area: news; }

/*----------------- NOSOTROS----------------- */
/* inicio seccion articulos */
.sectionUs {
  padding: 5px 20px; }
  .sectionUs article {
    padding: 5px;
    margin: 20px 0;
    background-color: rgba(0, 253, 181, 0.146);
    border: solid #0f3058 5px;
    border-radius: 5px; }
  .sectionUs button {
    font-family: "Heebo", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    text-align: left;
    color: white;
    background-color: #00383c;
    border: solid white 2px;
    border-radius: 0;
    animation-name: textUs;
    animation-duration: 3s; }
    @media (max-width: 768px) {
      .sectionUs button {
        font-size: 30px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .sectionUs button {
        font-size: 20px; } }
  .sectionUs p {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: justify;
    color: black;
    animation-name: textUs;
    animation-duration: 4s; }
    @media (max-width: 768px) {
      .sectionUs p {
        font-size: 25px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .sectionUs p {
        font-size: 20px; } }

/* fin seccion articulos */
/* inicio seccion team */
.sectionTeam {
  width: 100%;
  height: auto;
  padding: 10px 0; }
  .sectionTeam h3 {
    border-top: solid white 2px;
    font-size: 30px;
    margin: 10px 0; }

.teamContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 10px; }
  @media (min-width: 769px) and (max-width: 1300px) {
    .teamContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap; } }
  @media (max-width: 768px) {
    .teamContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap; } }

.profileCard {
  background-color: #29777d;
  border: none;
  border-radius: 5px;
  text-align: center;
  animation-name: colorLoop;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; }
  .profileCard h5 {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #00383c; }
  .profileCard p {
    padding: 2px;
    margin-top: 5px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
    color: white; }
    @media (min-width: 320px) and (max-width: 480px) {
      .profileCard p {
        font-size: 18px; } }

/* fin seccion team */
.contenedorNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "us" "team"; }

#us {
  grid-area: us; }

#team {
  grid-area: team; }

/*----------------- PROYECTOS----------------- */
.proyectContainer {
  width: 90%;
  background-color: rgba(0, 253, 181, 0.146);
  border: rgba(23, 75, 61, 0.352) 10px;
  border-radius: 10px; }
  .proyectContainer p {
    height: 350px;
    background-color: #c4ebc4;
    border: solid #043e39 5px;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    text-align: left;
    color: black;
    overflow: auto; }
    @media (max-width: 768px) {
      .proyectContainer p {
        font-size: 35px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .proyectContainer p {
        font-size: 25px; } }

.proyectPicture {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #00383c;
  border: #c4ebc4;
  border-radius: 5px; }
  .proyectPicture img {
    width: 80%;
    height: 80%; }
    @media (max-width: 768px) {
      .proyectPicture img {
        width: 90%; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .proyectPicture img {
        width: 90%;
        height: 70%; } }

.contenedorProyectos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "proyects"; }

#proyects {
  grid-area: proyects; }

/*----------------- PRODUCTOS----------------- */
/* inicio seccion filtros */
.filterArea {
  width: 100%;
  height: auto;
  padding: 0 2%;
  background: linear-gradient(45deg, #020024 0%, #00fdb5 55%, #00d4ff 100%) 2px;
  border: solid #0f3058 5px; }
  @media (max-width: 768px) {
    .filterArea {
      background: linear-gradient(-45deg, #020024 0%, #00fdb5 55%, #00d4ff 100%); } }
  @media (min-width: 320px) and (max-width: 480px) {
    .filterArea {
      text-align: center;
      margin: 10px 0; } }
  .filterArea legend {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 5.5em;
    text-align: left;
    color: #00383c; }
    @media (min-width: 769px) and (max-width: 1300px) {
      .filterArea legend {
        font-size: 35px; } }
    @media (max-width: 768px) {
      .filterArea legend {
        font-size: 4em; } }

.filterContainer {
  top: 30px;
  position: sticky;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap; }
  @media (max-width: 768px) {
    .filterContainer {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-direction: row;
      flex-wrap: nowrap; } }
  @media (min-width: 769px) and (max-width: 1300px) {
    .filterContainer div label {
      font-size: 20px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .filterContainer div label {
      font-size: 20px; } }

.filterChecks div {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 1px;
  margin: 5px; }

.filterChecks input {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  padding: 10px;
  margin: 5px;
  cursor: pointer; }

.filterChecks label {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px #5e5e5e; }

@media (min-width: 320px) and (max-width: 480px) {
  .filterButtons .switchBox-prueba label {
    font-size: 1.2em; } }

.switchBox-prueba {
  width: 80%;
  height: 50px;
  background-color: #105459;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 65px; }
  @media (min-width: 769px) and (max-width: 1300px) {
    .switchBox-prueba {
      width: 95%; } }
  @media (max-width: 768px) {
    .switchBox-prueba {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .switchBox-prueba {
      width: 95%; } }
  .switchBox-prueba input {
    height: 25px;
    font-size: 2em;
    cursor: pointer; }
    @media (min-width: 769px) and (max-width: 1300px) {
      .switchBox-prueba input {
        font-size: 25px; } }
  .switchBox-prueba label {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    text-align: left;
    color: white;
    cursor: pointer; }
    @media (min-width: 320px) and (max-width: 480px) {
      .switchBox-prueba label {
        font-size: 1.2em; } }

.drop-prueba {
  background-color: #105459;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap; }
  @media (min-width: 769px) and (max-width: 1300px) {
    .drop-prueba {
      width: 95%; } }
  @media (max-width: 768px) {
    .drop-prueba {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .drop-prueba {
      width: 95%; } }
  .drop-prueba button {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    text-align: left;
    color: white; }
    @media (min-width: 769px) and (max-width: 1300px) {
      .drop-prueba button {
        font-size: 15px;
        overflow: hidden; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .drop-prueba button {
        font-size: 1.2em; } }
  .drop-prueba ul {
    background-color: #29777d;
    border: solid white 2px;
    border-radius: 0;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 2px #5e5e5e; }

.offcanvasButtonLink {
  background-color: #105459;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  text-align: left;
  color: white;
  padding: auto; }
  @media (min-width: 769px) and (max-width: 1300px) {
    .offcanvasButtonLink {
      width: 95%;
      font-size: 15px; } }
  @media (max-width: 768px) {
    .offcanvasButtonLink {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .offcanvasButtonLink {
      width: 95%;
      font-size: 1.2em; } }

.offcanvasOpen {
  border: solid white 2px; }

.offcanvasName {
  background-color: #00383c;
  font-size: 45px; }
  .offcanvasName h3 {
    font-size: 1em;
    color: white; }

.offcanvasChecks {
  background: linear-gradient(45deg, #020024 0%, #00fdb5 55%, #00d4ff 100%) 2px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .offcanvasChecks {
      text-align: left; } }
  .offcanvasChecks div input {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
    margin: 5px; }
  .offcanvasChecks div label {
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 2px #5e5e5e; }
  .offcanvasChecks div img {
    vertical-align: bottom; }

/* fin seccion filtros */
/* inicio seccion catalogo */
.catalogueArea {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-bottom: 20px; }
  @media (max-width: 768px) {
    .catalogueArea {
      height: 800px;
      column-gap: 10px;
      justify-content: center;
      overflow: auto; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .catalogueArea {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      height: 500px;
      overflow: auto; } }
  .catalogueArea figure {
    width: 300px;
    height: 420px;
    padding: 10px 10px 70px 10px;
    margin: 20px 50px;
    background-color: #29777d;
    border: solid #043e39 5px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black; }
    @media (max-width: 768px) {
      .catalogueArea figure {
        width: 235px;
        height: 355px;
        margin: 20px 0;
        font-size: 15px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .catalogueArea figure {
        width: 260px;
        height: 380px;
        margin: 20px 0;
        font-size: 16px; } }
    .catalogueArea figure p {
      background-color: #00383c;
      font-family: "Ubuntu", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      color: white; }
      @media (min-width: 320px) and (max-width: 480px) {
        .catalogueArea figure p {
          margin-top: 5px;
          font-size: 18px; } }
    .catalogueArea figure img {
      width: 100%;
      height: 100%; }

/* fin seccion catalogo */
.contenedorProductos {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "productos productos " "filter catalogue " "filter catalogue "; }
  @media (max-width: 768px) {
    .contenedorProductos {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "productos" "filter" "catalogue"; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .contenedorProductos {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "productos" "filter" "catalogue"; } }

#catalogue {
  grid-area: catalogue; }

#productos {
  grid-area: productos; }

#filter {
  grid-area: filter; }

/*----------------- CONTACTO----------------- */
.formContainer {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #29777d;
  border: solid #043e39 5px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  color: white; }
  @media (max-width: 768px) {
    .formContainer {
      font-size: 23px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .formContainer {
      padding: 10px;
      font-size: 20px; } }

.clientData input {
  margin: 10px 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.713);
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: large;
  text-align: left;
  color: black; }
  @media (max-width: 768px) {
    .clientData input {
      width: 100%;
      height: 40px; } }

.selectFile input {
  height: 32px;
  padding: 1px;
  background-color: #043e39;
  border: solid #8f8f8f 1px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  color: white; }

.selectMatter {
  height: 50px;
  background-color: #043e39;
  border: solid #8f8f8f 1px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: white; }

.textDetails textarea {
  width: 100%;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.713);
  border-radius: 3px;
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: black; }

@media (max-width: 768px) {
  .formButton {
    display: flex;
    justify-content: space-around; } }

.contenedorContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "contacto" "mensaje"; }

#contacto {
  grid-area: contacto; }

#mensaje {
  grid-area: mensaje; }
