/*----------------- PROYECTOS----------------- */

.proyectContainer {
  width: 90%;
  background-color: $secondaryBgColor;
  border: solid $proyectBorderColor;
  border-radius: 10px;
  p {
    height: 350px;
    background-color: $textBgProyect;
    border: $mainBorderColor;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    overflow: auto;
  }
}

.proyectPicture {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainDarkColor;
  border: $textBgProyect;
  border-radius: 5px;
  img {
    width: 80%;
    height: 80%;
  }
}

.contenedorProyectos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "proyects";
}

#proyects {
  grid-area: proyects;
}
