/*----------------- PROYECTOS----------------- */

.proyectContainer {
  width: 90%;
  @include box($secondaryBgColor, $proyectBorderColor, 10px);
  p {
    height: 400px;
    @include box($textBgProyect, $mainBorderColor, 5px);
    @include text($thirdFont, normal, normal, 45px, left, $secondTextColor);
    overflow: auto;
    @include media(tablet) {
      font-size: 35px;
    }
    @include media(mobile) {
      height: 300px;
      font-size: 25px;
    }
  }
}

.proyectPicture {
  height: 400px;
  @include d-flex(center, center, row, nowrap);
  @include box($mainDarkColor, $textBgProyect, 5px);
  @include media(tablet) {
    height: 350px;
  }
  @include media(mobile) {
    height: 200px;
  }
  img {
    @include size(80%, 80%);
    @include media(tablet) {
      @include size(90%, 90%);
    }
    @include media(mobile) {
      @include size(90%, 90%);
    }
  }
}

.contenedorProyectos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "proyects";
}

#proyects {
  grid-area: proyects;
}
