/*----------------- PROYECTOS----------------- */

.proyectContainer {
  width: 90%;
  @include box($secondaryBgColor, $proyectBorderColor, 10px);
  p {
    height: 350px;
    @include box($textBgProyect, $mainBorderColor, 5px);
    @include text($thirdFont, normal, normal, 50px, left, $secondTextColor);
    overflow: auto;
  }
}

.proyectPicture {
  height: 350px;
  @include d-flex(center, center, row, nowrap);
  @include box($mainDarkColor, $textBgProyect, 5px);
  img {
    @include size(80%, 80%);
  }
}

.contenedorProyectos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "proyects";
}

#proyects {
  grid-area: proyects;
}
