/*----------------- NOSOTROS----------------- */

/* inicio seccion articulos */

.sectionUs {
  padding: 5px 20px;
  article {
    padding: 5px;
    margin: 20px 0;
    @include box($secondaryBgColor, $borderSecondColor, 5px);
  }
  button {
    @include text($secondaryFont, italic, normal, 40px, left, $mainTextColor);
    @include box($mainDarkColor, $dividerColor, 0);
    animation-name: textUs;
    animation-duration: 3s;
    @include media(tablet) {
      font-size: 30px;
    }
    @include media(mobile) {
      font-size: 20px;
    }
  }
  p {
    @include text($thirdFont, normal, normal, 35px, justify, $secondTextColor);
    animation-name: textUs;
    animation-duration: 4s;
    @include media(tablet) {
      font-size: 25px;
    }
    @include media(mobile) {
      font-size: 20px;
    }
  }
}
/* fin seccion articulos */

/* inicio seccion team */
.sectionTeam {
  @include size(100%, auto);
  padding: 10px 0;
  h3 {
    border-top: $dividerColor;
    font-size: 30px;
    margin: 10px 0;
  }
}

.teamContainer {
  @include d-flex(space-around, stretch, row, nowrap);
  width: 100%;
  margin-bottom: 10px;
  @include media(ajust) {
    @include d-flex(space-around, center, column, nowrap);
  }
  @include media(tablet) {
    @include d-flex(space-around, center, column, nowrap);
  }
}

.profileCard {
  @include box($mainBgColor, none, 5px);
  text-align: center;
  @include anima(colorLoop, 10s, infinite, 0, alternate, ease-in-out);
  h5 {
    @include text($thirdFont, normal, normal, 20px, center, $mainTextColor);
    background-color: $mainDarkColor;
  }
  p {
    padding: 2px;
    margin-top: 5px;
    @include text($thirdFont, normal, normal, 20px, justify, $mainTextColor);
  }
}
/* fin seccion team */

.contenedorNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "us"
    "team";
}

#us {
  grid-area: us;
}
#team {
  grid-area: team;
}
