/*----------------- NOSOTROS----------------- */

/* inicio seccion articulos */

.sectionUs {
  padding: 5px 20px;
  article {
    padding: 5px;
    margin: 20px 0;
    background-color: $secondaryBgColor;
    border: $borderSecondColor;
    border-radius: 5px;
  }
  button {
    font-family: $secondaryFont;
    font-style: italic;
    font-size: 40px;
    text-align: left;
    animation-name: textUs;
    animation-duration: 3s;
    color: $mainTextColor;
    background-color: $mainDarkColor;
    border: $dividerColor;
  }
  p {
    font-family: $thirdFont;
    font-size: 35px;
    text-align: justify;
    animation-name: textUs;
    animation-duration: 4s;
  }
}
/* fin seccion articulos */

/* inicio seccion team */
.sectionTeam {
  width: 100%;
  height: auto;
  padding: 10px 0;
  h3 {
    border-top: $dividerColor;
    font-size: 30px;
    margin: 10px 0;
  }
}

.teamContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.profileCard {
  background-color: $mainBgColor;
  border-radius: 5px;
  text-align: center;
  animation-name: colorLoop;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-delay: 0;
  animation-direction: alternate;
  h5 {
    color: $mainTextColor;
    font-family: $thirdFont;
    font-size: 20px;
    background-color: $mainDarkColor;
  }
  p {
    padding: 2px;
    margin-top: 5px;
    font-family: $thirdFont;
    font-size: 20px;
    color: $mainTextColor;
    text-align: justify;
  }
}
/* fin seccion team */

.contenedorNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "us"
    "team";
}

#us {
  grid-area: us;
}
#team {
  grid-area: team;
}
