/*----------------- PRODUCTOS----------------- */
/* inicio seccion filtros */
.filterArea {
  width: 100%;
  height: auto;
  padding: 0 2%;
  background: $filterBgGradient;
  border: $borderSecondColor;
  legend {
    font-family: $thirdFont;
    font-style: italic;
    font-size: 5.5em;
    color: $mainDarkColor;
  }
}

.filterContainer {
  top: 30px;
  position: sticky;
  height: auto;
  display: flex;
  flex-direction: column;
}

.filterChecks {
  div {
    display: flex;
    flex-direction: row;
    padding-left: 1px;
    margin: 5px;
  }
  input {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  label {
    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: $textShadows;
  }
}

.switchBox-prueba {
  background-color: $secondaryBtnColor;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  padding-left: 65px;
  display: flex;
  align-items: center;
  input {
    height: 25px;
    font-size: 2em;
    cursor: pointer;
  }
  label {
    font-size: 2em;
    font-family: $thirdFont;
    color: $mainTextColor;
    cursor: pointer;
  }
}

.drop-prueba {
  background-color: $secondaryBtnColor;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  button {
    font-size: 2em;
    font-family: $thirdFont;
    color: $mainTextColor;
  }
  ul {
    font-size: 2em;
    background-color: $mainBgColor;
    border: $dividerColor;
    color: $mainTextColor;
    text-shadow: $textShadows;
  }
}

.offcanvasButtonLink {
  background-color: $secondaryBtnColor;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  padding: auto;
  display: flex;
  align-items: center;
  color: $mainTextColor;
  font-size: 2em;
  font-weight: 500;
}

.offcanvasOpen {
  border: $dividerColor;
}

.offcanvasName {
  background-color: $mainDarkColor;
  font-size: 45px;
  h3 {
    font-size: 1em;
    color: $mainTextColor;
  }
}

.offcanvasChecks {
  background: $filterBgGradient;
  div {
    input {
      transform: scale(1.5);
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      padding: 10px;
      margin: 5px;
    }
    label {
      font-size: 2em;
      font-weight: bold;
      color: $mainTextColor;
      text-shadow: $textShadows;
    }
    img {
      vertical-align: bottom;
    }
  }
}
/* fin seccion filtros */

/* inicio seccion catalogo */
.catalogueArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  figure {
    width: 300px;
    height: 420px;
    padding: 10px 10px 70px 10px;
    margin: 20px 50px;
    background-color: $mainBgColor;
    border: $mainBorderColor;
    border-radius: 5px;
    font-family: $mainFont;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    p {
      background-color: $mainDarkColor;
      font-family: $thirdFont;
      font-size: 20px;
      color: $mainTextColor;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
/* fin seccion catalogo */

.contenedorProductos {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "productos productos "
    "filter catalogue "
    "filter catalogue ";
}
#catalogue {
  grid-area: catalogue;
}
#productos {
  grid-area: productos;
}
#filter {
  grid-area: filter;
}
