/*----------------- PRODUCTOS----------------- */
/* inicio seccion filtros */
.filterArea {
  @include size(100%, auto);
  padding: 0 2%;
  background: $filterBgGradient;
  border: $borderSecondColor;
  legend {
    @include text($thirdFont, italic, normal, 5.5em, left, $mainDarkColor);
  }
}

.filterContainer {
  top: 30px;
  position: sticky;
  height: auto;
  @include d-flex(start, stretch, column, nowrap);
}

.filterChecks {
  div {
    @include d-flex(start, stretch, row, nowrap);
    padding-left: 1px;
    margin: 5px;
  }
  input {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  label {
    @include text($thirdFont, normal, bold, 2em, left, $mainTextColor);
    text-shadow: $textShadows;
  }
}

.switchBox-prueba {
  @include size(80%, 50px);
  @include box($secondaryBtnColor, none, 5px);
  @include d-flex(start, center, row, nowrap);
  padding-left: 65px;
  input {
    height: 25px;
    font-size: 2em;
    cursor: pointer;
  }
  label {
    @include text($thirdFont, normal, normal, 2em, left, $mainTextColor);
    cursor: pointer;
  }
}

.drop-prueba {
  @include box($secondaryBtnColor, none, 5px);
  @include size(80%, 50px);
  @include d-flex(start, center, row, nowrap);
  button {
    @include text($thirdFont, normal, normal, 2em, left, $mainTextColor);
  }
  ul {
    @include box($mainBgColor, $dividerColor, 0);
    @include text(arial, normal, normal, 2em, left, $mainTextColor);
    text-shadow: $textShadows;
  }
}

.offcanvasButtonLink {
  @include box($secondaryBtnColor, none, 5px);
  @include size(80%, 50px);
  @include d-flex(start, center, row, nowrap);
  @include text($thirdFont, normal, 500, 2em, left, $mainTextColor);
  padding: auto;
}

.offcanvasOpen {
  border: $dividerColor;
}

.offcanvasName {
  background-color: $mainDarkColor;
  font-size: 45px;
  h3 {
    font-size: 1em;
    color: $mainTextColor;
  }
}

.offcanvasChecks {
  background: $filterBgGradient;
  div {
    input {
      transform: scale(1.5);
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      padding: 10px;
      margin: 5px;
    }
    label {
      @include text(arial, normal, bold, 2em, left, $mainTextColor);
      text-shadow: $textShadows;
    }
    img {
      vertical-align: bottom;
    }
  }
}
/* fin seccion filtros */

/* inicio seccion catalogo */
.catalogueArea {
  @include d-flex(space-around, stretch, row, wrap);
  @include size(100%, auto);
  padding-bottom: 20px;
  figure {
    @include size(300px, 420px);
    padding: 10px 10px 70px 10px;
    margin: 20px 50px;
    /*background-color: $mainBgColor;
    border: $mainBorderColor;
    border-radius: 5px;*/
    @include box($mainBgColor, $mainBorderColor, 5px);
    @include text($mainFont, normal, bold, 20px, center, $secondTextColor);
    p {
      background-color: $mainDarkColor;
      @include text($thirdFont, normal, bold, 20px, center, $mainTextColor);
    }
    img {
      @include size(100%, 100%);
    }
  }
}
/* fin seccion catalogo */

.contenedorProductos {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "productos productos "
    "filter catalogue "
    "filter catalogue ";
}
#catalogue {
  grid-area: catalogue;
}
#productos {
  grid-area: productos;
}
#filter {
  grid-area: filter;
}
