/*----------------- INDEX----------------- */
/* inicio seccion videos */
.sectionVideo {
  @include d-flex(space-between, stretch, column, nowrap);
  @include size(100%, auto);
  @include box($videoBgColor, none, 5px);
  padding: 0 20px;
  p {
    margin-top: 20px;
    @include text($mainFont, italic, bold, x-large, center, rgb(0, 0, 0));
  }
}

.videoExample {
  video {
    @include size(100%, 500px);
    @include box($videoBgColor, $mainBorderColor, 3px);
    transition: transform 0.5s;
  }
  h5 {
    @include text($titleFont, normal, normal, large, center, $mainTextColor);
    text-shadow: $textShadows;
  }
  p {
    margin: 0;
    @include text($mainFont, normal, 500, medium, center, $mainTextColor);
    text-shadow: $textShadows;
  }
}
/* fin seccion videos */

/* inicio lado mapa */
.sectionMap {
  @include d-flex(center, center, row, nowrap);
  @include size(100%, auto);
  div {
    @include size(500px, 500px);
    @include box($mapBgColor, $secondaryBorderColor, 3px);
    overflow: hidden;
  }
  h2 {
    margin-bottom: 20px;
    font-size: xx-large;
    text-decoration: underline;
  }
}
/* fin lado mapa */

/* inicio nuevos ingresos */
.containerNews {
  @include d-flex(space-around, stretch, column, nowrap);
  @include size(100%, auto);
}

.titleNews {
  margin-top: 5px;
}
.gallery {
  @include d-flex(space-around, stretch, row, nowrap);
  margin: 20px 0;
}
.cardNews {
  width: 22rem;
  @include box($mainBgColor, $secondaryBorderColor, 0);
  @include text($secondaryFont, normal, normal, 1.5em, justify, rgb(0, 0, 0));
  a {
    background-color: $secondaryBtnColor;
    color: $mainTextColor;
  }
}
/* fin nuevos ingresos */

.contenedor {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "videos map"
    "news news";
}

#videos {
  grid-area: videos;
}
#map {
  grid-area: map;
}
#news {
  grid-area: news;
}
