/*----------------- CONTACTO----------------- */

.formContainer {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  @include box($mainBgColor, $mainBorderColor, 10px);
  @include text($mainFont, normal, bold, 3em, left, $mainTextColor);
  @include media(tablet) {
    font-size: 2.8em;
  }
  @include media(mobile) {
    padding: 10px;
  }
}

.clientData {
  input {
    margin: 10px 0;
    height: 50px;
    background-color: $imputBgColor;
    @include text(
      $secondaryFont,
      normal,
      normal,
      0.6em,
      left,
      $secondTextColor
    );
    @include media(tablet) {
      @include size(100%, 40px);
    }
  }
}

.selectFile {
  input {
    height: 32px;
    padding: 1px;
    @include box($btnBgColor, $btnBorderColor, 5px);
    @include text($mainFont, normal, normal, 0.6em, left, $mainTextColor);
  }
}

.selectMatter {
  height: 50px;
  @include box($btnBgColor, $btnBorderColor, 5px);
  @include text($mainFont, normal, bold, 0.8em, left, $mainTextColor);
}

.textDetails {
  textarea {
    width: 100%;
    margin-bottom: 5px;
    background-color: $imputBgColor;
    border-radius: 3px;
    @include text(
      $secondaryFont,
      normal,
      normal,
      0.8em,
      left,
      $secondTextColor
    );
  }
}

.formButton {
  @include media(tablet) {
    display: flex;
    justify-content: space-around;
  }
}

.contenedorContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "contacto"
    "mensaje";
}

#contacto {
  grid-area: contacto;
}

#mensaje {
  grid-area: mensaje;
}
