/*----------------- CONTACTO----------------- */

.formContainer {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: $mainColor;
  border: $borderMainColor;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: $textMenuColor;
}

.clientData {
  input {
    margin: 10px 0;
    height: 50px;
    background-color: $imputBgColor;
    font-family: "Heebo", sans-serif;
    font-size: large;
  }
}

.selectFile {
  input {
    height: 32px;
    padding: 1px;
    border: $borderButtonColor;
    border-radius: 5px;
    background-color: $btnBgColor;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: $textMenuColor;
  }
}

.selectMatter {
  height: 50px;
  border: $borderButtonColor;
  border-radius: 5px;
  background-color: $btnBgColor;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: $textMenuColor;
}

.textDetails {
  textarea {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 3px;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    background-color: $imputBgColor;
  }
}

.contenedorContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "contacto"
    "mensaje";
}

#contacto {
  grid-area: contacto;
}

#mensaje {
  grid-area: mensaje;
}
