/*----------------- ERROR----------------- */

/* inicio seccion error */

.headerBrokenLogo {
  @include size(95%, 95%);
  margin: 10px 0;
  @include media(tablet) {
    align-self: center;
    @include size(80%, 80%);
  }
  @include media(mobile) {
    @include size(60%, 60%);
    margin: 5px 0;
  }
  &:hover {
    transform: rotatez(10deg);
    cursor: pointer;
    transition: transform 5s;
  }
}

.errorBackground {
  background: $errorBgEffect;
}
.errorCard {
  @include size(auto, auto);
  @include box(rgba(255, 255, 255, 0), none, 0);
  text-align: center;
  img {
    @include size(100%, 100%);
  }
  h5 {
    @include text($errorFont, italic, normal, 6em, left, $mainTextColor);
    text-shadow: $textLabelShadows;
    @include media(ajust) {
      font-size: 4em;
    }
    @include media(tablet) {
      @include text($errorFont, italic, normal, 3em, center, $mainTextColor);
    }
    @include media(mobile) {
      font-size: 2em;
    }
  }
  p {
    @include text($errorFont, normal, normal, 4em, left, $mainTextColor);
    text-shadow: $textLabelShadows;
    @include media(ajust) {
      font-size: 3em;
    }
    @include media(tablet) {
      @include text($errorFont, normal, normal, 3em, center, $mainTextColor);
    }
    @include media(mobile) {
      font-size: 1em;
    }
  }
}
/* fin seccion error */
