/*----------------- PRODUCTOS----------------- */
/* inicio seccion filtros */
.filterArea {
  @include size(100%, auto);
  padding: 0 2%;
  background: $filterBgGradient;
  border: $borderSecondColor;
  @include media(tablet) {
    background: $filterBgGradientBreak;
  }
  @include media(mobile) {
    text-align: center;
    margin: 10px 0;
  }
  legend {
    @include text($titleFont, italic, normal, 5em, left, $mainTextColor);
    text-shadow: $textShadows;
    @include media(ajust) {
      font-size: 3em;
    }
    @include media(tablet) {
      font-size: 4em;
    }
  }
}

.filterContainer {
  top: 30px;
  position: sticky;
  height: auto;
  @include d-flex(start, stretch, column, nowrap);
  @include media(tablet) {
    @include d-flex(space-around, stretch, row, nowrap);
  }
  div {
    label {
      @include media(ajust) {
        font-size: 20px;
      }
      @include media(mobile) {
        font-size: 20px;
      }
    }
  }
}

.filterChecks {
  div {
    @include d-flex(start, stretch, row, nowrap);
    padding-left: 1px;
    margin: 5px;
  }
  input {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  label {
    @include text($thirdFont, normal, bold, 2em, left, $mainTextColor);
    text-shadow: $textLabelShadows;
    margin-left: 5px;
  }
}
.filterButtons {
  .switchBox-prueba {
    label {
      @include media(mobile) {
        font-size: 1.2em;
      }
    }
  }
}
.switchBox-prueba {
  @include size(80%, 50px);
  @include box($mainTextColor, none, 5px);
  @include d-flex(start, center, row, nowrap);
  box-shadow: $boxShadows;
  padding-left: 65px;
  @include media(ajust) {
    width: 95%;
  }
  @include media(tablet) {
    width: 100%;
  }
  @include media(mobile) {
    width: 95%;
  }
  input {
    height: 25px;
    font-size: 2em;
    cursor: pointer;
    @include media(ajust) {
      font-size: 25px;
    }
  }
  label {
    @include text($thirdFont, normal, normal, 2em, left, $thirdTextColor);
    cursor: pointer;
    @include media(mobile) {
      font-size: 1.2em;
    }
  }
}

.drop-prueba {
  @include box($mainTextColor, none, 5px);
  @include size(80%, 50px);
  @include d-flex(start, center, row, nowrap);
  box-shadow: $boxShadows;
  @include media(ajust) {
    width: 95%;
  }
  @include media(tablet) {
    width: 100%;
  }
  @include media(mobile) {
    width: 95%;
  }
  button {
    @include text($thirdFont, normal, normal, 2em, left, $thirdTextColor);
    @include media(ajust) {
      font-size: 15px;
      overflow: hidden;
    }
    @include media(mobile) {
      font-size: 1.2em;
    }
  }
  ul {
    @include box($mainBgColor, $dividerColor, 0);
    @include text(arial, normal, normal, 2em, left, $mainTextColor);
    text-shadow: $textShadows;
  }
}

.offcanvasButtonLink {
  @include box($mainTextColor, none, 5px);
  @include size(80%, 50px);
  @include d-flex(start, center, row, nowrap);
  @include text($thirdFont, normal, 500, 2em, left, $thirdTextColor);
  padding: auto;
  box-shadow: $boxShadows;
  @include media(ajust) {
    width: 95%;
    font-size: 15px;
  }
  @include media(tablet) {
    width: 100%;
  }
  @include media(mobile) {
    width: 95%;
    font-size: 1.2em;
  }
}

.offcanvasOpen {
  border: $dividerColor;
}

.offcanvasName {
  background-color: $mainBgColor;
  font-size: 45px;
  h3 {
    font-size: 1em;
    color: $mainTextColor;
  }
}

.offcanvasChecks {
  background: $filterBgGradient;
  @include media(mobile) {
    text-align: left;
  }
  div {
    input {
      transform: scale(1.5);
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      padding: 10px;
      margin: 5px;
    }
    label {
      @include text(arial, normal, bold, 2em, left, $mainTextColor);
      text-shadow: $textLabelShadows;
    }
    img {
      vertical-align: bottom;
    }
  }
}
/* fin seccion filtros */

/* inicio seccion catalogo */
.catalogueArea {
  @include d-flex(space-around, stretch, row, wrap);
  @include size(100%, auto);
  padding-bottom: 20px;
  @include media(tablet) {
    height: 800px;
    column-gap: 10px;
    justify-content: center;
    overflow: auto;
  }
  @include media(mobile) {
    @include d-flex(flex-start, center, column, nowrap);
    height: 500px;
    overflow: auto;
  }

  figure {
    @include size(300px, 420px);
    padding: 10px 10px 70px 10px;
    margin: 20px 50px;
    @include box($mainBgColor, $mainBorderColor, 5px);
    @include text($mainFont, normal, bold, 20px, center, $secondTextColor);
    @include media(tablet) {
      @include size(235px, 355px);
      margin: 20px 0;
      font-size: 15px;
    }
    @include media(mobile) {
      @include size(260px, 380px);
      margin: 20px 0;
      font-size: 16px;
    }
    p {
      background-color: $mainDarkColor;
      @include text($thirdFont, normal, bold, 20px, center, $mainTextColor);
      @include media(mobile) {
        margin-top: 5px;
        font-size: 18px;
      }
    }
    img {
      @include size(100%, 100%);
    }
  }
}
/* fin seccion catalogo */

.contenedorProductos {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "productos productos "
    "filter catalogue "
    "filter catalogue ";
  @include media(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "productos"
      "filter"
      "catalogue";
  }
  @include media(mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "productos"
      "filter"
      "catalogue";
  }
}
#catalogue {
  grid-area: catalogue;
}
#productos {
  grid-area: productos;
}
#filter {
  grid-area: filter;
}
