//extends
.titleNews {
  @extend .titleNeon;
  margin-top: 5px;
}

.pageTitle {
  @extend .titleNeon;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 50px;
  text-decoration: underline;
  font-style: italic;
}

.titleQuality {
  @extend .titleNeon;
  text-shadow: $neonLightEffect;
}
