//extends
.titleNews {
  @extend .titleNeon;
  margin-top: 10px;
    @include media(mobile) {
font-size: 4em;
  }
}

.searchButton {
  @extend .buttonsEffect;
  font-size: 1.5em;
  @include media(mobile) {
    height: 28px;
  }
}

.pageTitle {
  @extend .titleNeon;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 5em;
  text-decoration: underline;
  font-style: italic;
  @include media(tablet) {
    font-size: 4em;
  }
  @include media(mobile) {
    font-size: 2.5em;
  }
}

.titleQuality {
  @extend .titleNeon;
  text-shadow: $neonLightEffect;
}
