//extends
.titleNews {
  @extend .titleNeon;
  margin-top: 5px;
}

.searchButton {
  @extend .buttonsEffect;
  @include media(mobile) {
    height: 28px;
    font-size: small;
  }
}

.pageTitle {
  @extend .titleNeon;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 50px;
  text-decoration: underline;
  font-style: italic;
  @include media(tablet) {
    font-size: 40px;
  }
  @include media(mobile) {
    font-size: 30px;
  }
}

.titleQuality {
  @extend .titleNeon;
  text-shadow: $neonLightEffect;
}
