@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto:wght@300&family=Ubuntu:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quantico&display=swap");

$mainFont: "Roboto", sans-serif;
$secondaryFont: "Heebo", sans-serif;
$thirdFont: "Ubuntu", sans-serif;
$footFont: "Quantico", sans-serif;
$titleFont: "Fredoka One", cursive;

