//mixins
@mixin text($family, $style, $fontWeight, $size, $align, $color) {
  font-family: $family;
  font-style: $style;
  font-weight: $fontWeight;
  font-size: $size;
  text-align: $align;
  color: $color;
}
.prueba-text {
  @include text($mainFont, italic, 50px, bold, center, $mainTextColor);
}

@mixin d-flex($justify, $align, $dire, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dire;
  flex-wrap: $wrap;
}
.prueba-flex {
  @include d-flex(space-between, center, row, nowrap);
}

@mixin box($backGround, $border, $radius) {
  background-color: $backGround;
  border: $border;
  border-radius: $radius;
}
.prueba-box {
  @include box(red, $btnBorderColor, none);
}

@mixin boxExtra($backGround, $border, $brColor, $edge, $radius) {
  background-color: $backGround;
  border: $border $brColor $edge;
  border-radius: $radius;
}
.prueba-box {
  @include boxExtra(red, solid, blue, 2px, none);
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin anima(
  $nameAnimation,
  $duration,
  $iteration,
  $delay,
  $direction,
  $timing
) {
  animation-name: $nameAnimation;
  animation-duration: $duration;
  animation-iteration-count: $iteration;
  animation-delay: $delay;
  animation-direction: $direction;
  animation-timing-function: $timing;
}

.prueba-anima {
  @include anima(changeImg, 20s, infinite, 0, alternate, ease-out);
}

@mixin media($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: 320px) and (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == ajust {
    @media (min-width: 769px) and (max-width: 1450px) {
      @content;
    }
  }
}

.prueba-break {
  @include media(mobile) {
    background-color: violet;
  }
  @include media(tablet) {
    background-color: deeppink;
    width: 50%;
  }
  @include media(ajust) {
    background-color: #af40f6;
  }
}
//map
$greenscale: (
  "100": solid rgb(0, 255, 127) 5px,
  "200": solid rgb(0, 250, 154) 5px,
  "300": solid rgb(144, 238, 144) 5px,
  "400": solid rgb(152, 251, 152) 5px,
  "500": solid rgb(143, 188, 143) 5px,
  "600": solid rgb(50, 205, 50) 5px,
  "700": solid rgb(34, 139, 34) 5px,
  "800": solid rgb(32, 178, 170) 5px,
  "900": solid rgb(60, 179, 113) 5px,
  "1000": solid rgb(46, 139, 87) 5px,
  "1100": solid rgb(0, 100, 0) 5px,
);

.mapa-prueba-verde {
  border: map-get($greenscale, "100");
}

//pruebas--------------------------------------------------
/*
@mixin d-grid($columns, $rows, $areas ) {
   display: grid;
   grid-template-columns: ($columns $columns);
   grid-template-rows: $rows;
   grid-template-areas: $areas;
}
.prueba-grid{
   @include d-grid(65% 35%,)
}*/

/*
@mixin shadow() {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
div {
  @include shadow();
}
*/
/*

$grayscale: (
  "100": #eef1f4,
  "200": #dfe3e7,
  "300": #cbcfd2,
  "400": #b3b6b9,
  "500": #9ca0a3,
  "600": #7c7f82,
  "700": #606365,
  "800": #4a4c4f,
  "900": #333536,
);

.mapa-prueba {
  background-color: map-get($grayscale, "400");
}*/