/*----------------- ANIMACIONES----------------- */
@keyframes textUs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorLoop {
  0% {
    border: map-get($greenscale, "100");
  }
  10% {
    border: map-get($greenscale, "200");
  }
  20% {
    border: map-get($greenscale, "300");
  }
  30% {
    border: map-get($greenscale, "400");
  }
  40% {
    border: map-get($greenscale, "500");
  }
  50% {
    border: map-get($greenscale, "600");
  }
  60% {
    border: map-get($greenscale, "700");
  }
  70% {
    border: map-get($greenscale, "800");
  }
  80% {
    border: map-get($greenscale, "900");
  }
  90% {
    border: map-get($greenscale, "1000");
  }
  100% {
    border: map-get($greenscale, "1100");
  }
}
@keyframes changeImg {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
