.buttonsEffect {
  @include size(70px, 45px);
  padding: 0 2px;
  @include box($btnBgColor, $btnBorderColor, 5px);
  @include text($mainFont, normal, bold, 0.5em, none, $btnTextColor);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    @include boxExtra($mainBgColor, solid, rgb(255, 255, 255), 1px, 5px);
    color: $mainTextColor;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

.titleNeon {
  @include text($titleFont, normal, normal, 8em, center, $mainTitlesColor);
  text-shadow: $neonEffect;
  @include media(tablet) {
    font-size: 6em;
  }
  @include media(mobile) {
    font-size: 4em;
  }
}
