.buttonsEffect {
  @include size(70px, 45px);
  padding: 0 2px;
  margin-left: 20px;
  @include box($btnBgColor, $btnBorderColor, 5px);
  @include text($mainFont, normal, bold, 16px, none, $btnTextColor);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    @include boxExtra($mainBgColor, solid, rgb(255, 255, 255), 1px, 5px);
    color: $mainTextColor;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

.titleNeon {
  @include text($titleFont, normal, normal, 80px, center, $mainTitlesColor);
  text-shadow: $neonEffect;
}

.pageTitle {
  @extend .titleNeon;
  text-decoration: underline;
  font-style: italic;
}
