/* inicio pie de pagina */
.footArea {
  @include d-flex(space-around, stretch, column, nowrap);
  @include size(100%, auto);
  padding-top: 15px;
  border-top: $dividerColor;
  background-color: $footerBgColor;
  @include media(tablet) {
    height: auto;
  }
}
.footData {
  display: flex;
  justify-content: space-around;
  @include media(tablet) {
    @include d-flex(space-around, center, column, nowrap);
  }
  div {
    h4 {
      width: 100%;
      margin-bottom: 5px;
      @include text($footFont, normal, normal, 25px, center, $mainTextColor);
      text-shadow: $textShadows;
    }
    div {
      display: flex;
      justify-content: space-around;
    }
  }
  .infoFooter {
    @include size(250px, auto);
    padding: 0 2px;
    li {
      @include text($footFont, normal, normal, 20px, left, $footerTextColor);
    }
  }
  .contactFooter {
    @include size(250px, auto);
    padding: 0 2px;
    @include media(tablet) {
      margin: 10px 0;
    }
    li {
      @include text($footFont, normal, normal, 20px, left, $footerTextColor);
    }
  }
  .redesFooter {
    @include size(250px, auto);
    padding: 0 2px;
  }
}
.footCopyright {
  margin-top: 20px;
  padding-top: 10px;
  background-color: $copyrightBgColor;
  p {
    @include text($mainFont, normal, normal, 15px, center, $footerTextColor);
  }
}
/* fin pie de pagina */
