/* inicio pie de pagina */
.footArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 15px;
  border-top: $dividerColor;
  background-color: $footerBgColor;
}
.footData {
  display: flex;
  justify-content: space-around;
  div {
    h4 {
      width: 100%;
      margin-bottom: 5px;
      font-family: $footFont;
      font-size: 25px;
      text-align: center;
      color: $mainTextColor;
      text-shadow: $textShadows;
    }
    div {
      display: flex;
      justify-content: space-around;
    }
  }
  .infoFooter {
    width: 250px;
    height: auto;
    padding: 0 2px;
    li {
      font-family: $footFont;
      font-size: 20px;
      text-align: left;
      color: $footerTextColor;
    }
  }
  .contactFooter {
    width: 250px;
    height: auto;
    padding: 0 2px;
    li {
      font-family: $footFont;
      font-size: 20px;
      text-align: left;
      color: $footerTextColor;
    }
  }
  .redesFooter {
    width: 250px;
    height: auto;
    padding: 0 2px;
  }
}
.footCopyright {
  margin-top: 20px;
  padding-top: 10px;
  background-color: $copyrightBgColor;
  text-align: center;
  p {
    font-family: $mainFont;
    font-size: 15px;
    color: $footerTextColor;
  }
}
/* fin pie de pagina */
