header {
  @include size(100%, auto);
  @include d-flex(space-between, stretch, column, wrap);
}
.containerLogo {
  display: flex;
  justify-content: space-around;
  @include media(tablet) {
    flex-direction: column;
    align-items: center;
  }
  a {
    @include media(tablet) {
      text-align: center;
    }
  }
}
.headerLogo {
  @include size(95%, 95%);
  border-radius: 100%;
  margin: 10px 0;
  @include media(tablet) {
    align-self: center;
    @include size(80%, 80%);
  }
  @include media(mobile) {
    @include size(60%, 60%);
    margin: 5px 0;
  }
  &:hover {
    transform: rotatez(360deg);
    cursor: pointer;
    transition: transform 2s;
  }
}

/* inicio buscador */
.searchBox {
  @include size(375px, 60px);
  @include d-flex(space-between, center, row, nowrap);
  @include box($mainBgColor, $mainBorderColor, 10px);
  align-self: flex-end;
  padding: 0 12px;
  margin-bottom: 50px;
  @include media(tablet) {
    align-self: center;
    margin: 0 0 10px 0;
  }
  @include media(mobile) {
    @include size(320px, 40px);
  }
}
.inputSearch {
  @include size(260px, 40px);
  @include text($secondaryFont, normal, normal, 2em, left, $secondTextColor);
  padding: 0 5px;
  background-color: $imputBgColor;
  @include media(mobile) {
    width: 70%;
    height: 90%;
    font-size: 1.8em;
  }
}
/* fin buscador */
/* inico menu */
.containerMenu {
  width: 100%;
  padding: 5px 0px;
  background-color: $mainBgColor;
  border-top: $dividerColor;
  border-bottom: $dividerColor;
  list-style: none;
  text-align: center;
  ul {
    @include media(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li {
      margin: 0px 70px;
      background-color: $mainBgColor;
      @include media(ajust) {
        margin: 0 10px;
      }
      @include media(mobile) {
        margin: 0;
        font-size: 1em;
      }
      a {
        text-decoration: none;
        @include text($thirdFont, italic, normal, 3em, center, $mainTextColor);
        &:hover {
          color: $mainTextColor;
        }
      }
      &:hover {
        border-radius: 10px;
        transform: scale(1.2);
        cursor: pointer;
        transition: transform 1s;
      }
    }
  }
}
/* fin menu */
/*inicio slider*/
.slider {
  @include size(100%, 450px);
  @include media(tablet) {
    height: 300px;
  }
  @include media(mobile) {
    height: 200px;
  }
  ul {
    display: flex;
    padding: 0;
    width: 400%;
    @include anima(changeImg, 20s, infinite, 0, alternate, ease-out);
  }
  li {
    width: 100%;
    list-style: none;
  }
  img {
    @include size(100%, 450px);
    object-fit: cover;
    object-position: 0px 100%;
    @include media(tablet) {
      height: 300px;
    }
    @include media(mobile) {
      height: 200px;
    }
  }
}
/*fin de slider*/
