header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.containerLogo {
  display: flex;
  justify-content: space-around;
}
.headerLogo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  &:hover {
    transform: rotatez(360deg);
    cursor: pointer;
    transition: transform 2s;
  }
}
  /* inicio buscador */
  .searchBox {
    display: flex;
    align-items: center;
    align-self: flex-end;
    width: 375px;
    height: 60px;
    padding: 0 12px;
    margin-bottom: 50px;
    border: solid $borderMainColor;
    border-radius: 10px;
    background-color: $mainColor;
  }
  .inputSearch {
    width: 260px;
    height: 40px;
    padding: 0 5px;
    background-color: $imputBgColor;
    font-family: "Heebo", sans-serif;
    font-size: large;
  }
  /* fin buscador */
  /* inico menu */
  .containerMenu {
    width: 100%;
    padding: 5px 0px;
    background-color: $mainColor;
    border-top: $separationColor;
    border-bottom: $separationColor;
    list-style: none;
    text-align: center;
    li {
      margin: 0px 70px;
      background-color: $mainColor;
      font-family: "Ubuntu", sans-serif;
      font-style: italic;
      font-size: 30px;
      a {
        color: $textMenuColor;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
        border-radius: 10px;
        transform: scale(1.2);
        cursor: pointer;
        transition: transform 1s;
      }
    }
  }
  /* fin menu */
  /*inicio slider*/
  .slider {
    width: 100%;
    overflow: hidden;
    ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation-name: changeImg;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-delay: 0;
      animation-direction: alternate;
      animation-timing-function: ease-out;
    }
    li {
      width: 100%;
      list-style: none;
    }
    img {
      width: 100%;
      height: 500px;
    }
  }
  /*fin de slider*/

