header {
  @include size(100%, auto);
  @include d-flex(space-between, stretch, column, wrap);
}
.containerLogo {
  display: flex;
  justify-content: space-around;
}
.headerLogo {
  @include size(300px, 300px);
  border-radius: 100%;
  margin: 25px 0;
  &:hover {
    transform: rotatez(360deg);
    cursor: pointer;
    transition: transform 2s;
  }
}
/* inicio buscador */
.searchBox {
  @include size(375px, 60px);
  @include d-flex(space-between, center, row, nowrap);
  @include box($mainBgColor, $mainBorderColor, 10px);
  align-self: flex-end;
  padding: 0 12px;
  margin-bottom: 50px;
}
.inputSearch {
  @include size(260px, 40px);
  @include text($secondaryFont, normal, normal, large, left, $secondTextColor);
  padding: 0 5px;
  background-color: $imputBgColor;
}
/* fin buscador */
/* inico menu */
.containerMenu {
  width: 100%;
  padding: 5px 0px;
  background-color: $mainBgColor;
  border-top: $dividerColor;
  border-bottom: $dividerColor;
  list-style: none;
  text-align: center;
  li {
    margin: 0px 70px;
    background-color: $mainBgColor;
    @include text($thirdFont, italic, normal, 30px, center, $mainTextColor);
    a {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
      border-radius: 10px;
      transform: scale(1.2);
      cursor: pointer;
      transition: transform 1s;
    }
  }
}
/* fin menu */
/*inicio slider*/
.slider {
  width: 100%;
  overflow: hidden;
  ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation-name: changeImg;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-direction: alternate;
    animation-timing-function: ease-out;
  }
  li {
    width: 100%;
    list-style: none;
  }
  img {
    @include size(100%, 500px);
  }
}
/*fin de slider*/
