@media (min-width: 768px) and (max-width: 1450px) {
  /*----------------- INDEX AJUSTES----------------- */
  .containerMenu {
    li {
      margin: 0 10px;
    }
  }
  .contenedorNosotros .teamContainer {
    flex-direction: column;
    align-items: center;
  }
  /*----------------- PRODUCTOS AJUSTES----------------- */
  .filterArea {
    legend {
      font-size: 35px;
    }
  }
  .filterContainer {
    label {
      font-size: 20px;
    }
  }
  .switchBox-prueba {
    width: 95%;
    input {
      font-size: 2em;
    }
    label {
      font-size: 1.3em;
    }
  }
  .drop-prueba {
    width: 95%;
    button {
      font-size: 1.2em;
      overflow: hidden;
    }
  }
  .offcanvasButtonLink {
    width: 95%;
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  /*----------------- INDEX TABLET----------------- */
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "videos"
      "map"
      "news";
  }
  /*
  header {
    .containerLogo {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .searchBox {
    align-self: center;
    margin: 0 0 10px 0;
  }
  .containerMenu {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .slider {
    img {
      height: 300px;
    }
  }
  .titleNeon {
    font-size: 60px;
  }
  .sectionVideo {
    p {
      font-size: 25px;
    }
  }
  .videoExample {
   video {
      width: 65%;
    }
    h5 {
      font-size: medium;
    }
    p {
      font-size: small;
    }
  }
  .sectionMap {
    margin: 30px 0;
    div {
      width: 480px;
      height: 480px;
    }
    h2 {
      font-size: 30px;
    }
  }
  .gallery {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 0;
    p {
      margin: 0;
      font-size: 20px;
      text-align: center;
    }
  }
  .cardNews {
    width: 34rem;
  }
  .footArea {
    height: auto;
  }
  .footData {
    flex-direction: column;
    align-items: center;
    .contactFooter {
      margin: 10px 0;
    }
  }*/

  /*----------------- NOSOTROS TABLET----------------- */
  .sectionUs {
    button {
      font-size: 30px;
    }
    p {
      font-size: 25px;
    }
  }
  .teamContainer {
    flex-direction: column;
    align-items: center;
  }

  /*----------------- PROYECTOS TABLET----------------- */
  .proyectContainer {
    p {
      font-size: 35px;
    }
  }
  .proyectPicture {
    img {
      width: 90%;
    }
  }

  /*----------------- PRODUCTOS TABLET----------------- */
  .contenedorProductos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "productos"
      "filter"
      "catalogue";
  }
  .filterArea {
    background: $filterBgGradientBreak;
  }

  .filterContainer {
    flex-direction: row;
    justify-content: space-around;
  }

  .filterArea {
    legend {
      font-size: 4em;
    }
  }
  .switchBox-prueba {
    width: 100%;
  }
  .drop-prueba {
    width: 100%;
  }
  .offcanvasButtonLink {
    width: 100%;
  }

  .contenedorProductos {
    .catalogueArea {
      column-gap: 10px;
      justify-content: center;
      overflow: auto;
      height: 800px;
      figure {
        margin: 20px 0;
        width: 235px;
        height: 355px;
        font-size: 15px;
      }
    }
  }

  /*----------------- CONTACTO TABLET----------------- */
  .formContainer {
    font-size: 23px;
  }
  .clientData {
    input {
      height: 40px;
      width: 100%;
    }
  }
  .formButton {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /*----------------- INDEX MOBILE----------------- */
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "videos"
      "map"
      "news";
  } /*
  .containerLogo {
    align-items: center;
  }
  .headerLogo {
    width: 250px;
    height: 250px;
    margin: 30px 0;
  }
  .searchBox {
    width: 320px;
  }
  .inputSearch {
    width: 70%;
  }
  button {
    width: 30%;
  }
  .containerMenu {
    li {
      margin: 0;
      font-size: 25px;
    }
  }
  .slider {
    img {
      height: 230px;
    }
  }
  .titleNeon {
    font-size: 50px;
  }
  .sectionVideo {
    p {
      font-size: 15px;
    }
  }
  .videoExample {
    video {
      width: 100%;
    }
    h5 {
      font-size: small;
    }
    p {
      font-size: xx-small;
    }
  }
  .sectionMap {
    div {
      width: 320px;
      height: 320px;
    }
    h2 {
      font-size: 20px;
    }
  }
  .gallery {
    p {
      font-size: 15px;
    }
  }
  .cardNews {
    width: 25rem;
  }*/

  /*----------------- NOSOTROS MOBILE----------------- */
  .sectionUs {
    button {
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
  }

  /*----------------- PROYECTOS MOBILE----------------- */
  .proyectContainer {
    p {
      font-size: 25px;
    }
  }
  .proyectPicture {
    img {
      width: 90%;
      height: 70%;
    }
  }

  /*----------------- PRODUCTOS MOBILE----------------- */
  .contenedorProductos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "productos"
      "filter"
      "catalogue";
  }
  .switchBox-prueba {
    width: 95%;
    label {
      font-size: 1.2em;
    }
  }

  .filterContainer .filterButtons .switchBox-prueba label {
    font-size: 1.2em;
  }

  .drop-prueba {
    width: 95%;
    button {
      font-size: 1.2em;
    }
  }
  .offcanvasButtonLink {
    width: 95%;
    font-size: 1.2em;
  }
  .offcanvasChecks {
    text-align: left;
  }
  .contenedorProductos .filterArea {
    text-align: center;
    margin: 10px 0;
  }

  .filterContainer {
    div {
      label {
        font-size: 20px;
      }
    }
  }
  .contenedorProductos {
    .catalogueArea {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      height: 500px;
      overflow: auto;
      figure {
        margin: 20px 0;
        width: 260px;
        height: 380px;
        font-size: 16px;
        p {
          margin-top: 5px;
          font-size: 18px;
        }
      }
    }
  }

  /*----------------- CONTACTO MOBILE----------------- */
  .formContainer {
    padding: 10px;
    font-size: 20px;
  }
}

/*----------------- ANIMACIONES----------------- */
@keyframes textUs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorLoop {
  0% {
    border: map-get($greenscale, "100");
  }
  10% {
    border: map-get($greenscale, "200");
  }
  20% {
    border: map-get($greenscale, "300");
  }
  30% {
    border: map-get($greenscale, "400");
  }
  40% {
    border: map-get($greenscale, "500");
  }
  50% {
    border: map-get($greenscale, "600");
  }
  60% {
    border: map-get($greenscale, "700");
  }
  70% {
    border: map-get($greenscale, "800");
  }
  80% {
    border: map-get($greenscale, "900");
  }
  90% {
    border: map-get($greenscale, "1000");
  }
  100% {
    border: map-get($greenscale, "1100");
  }
}
@keyframes changeImg {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
